/*holographic card*/
.holographic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
} .holographic-card {
  width: 300px;
  height: 200px;
  background: #0b0505;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
} .holographic-card h2 {
  color: #0ff;
  font-size: 4rem;
  position: relative;
  z-index: 2; 
} 
.holographic-card::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    rgba(153, 210, 231, 0.692)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}
.holographic-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(1, 14, 14, 0.5);
}

.holographic-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

/*liquid morph*/
.liquid-morph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
}

.liquid-morph-element {
  width: 250px;
  height: 100px;
  background: #902036;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.liquid-morph-element span {
  color: #fff;
  font-size: 1.5rem;
  position: relative;
  z-index: 2;
}

.liquid-morph-element::before {
  content: '';
  position: absolute;         
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(
    rgb(133, 224, 156) 0deg, 
    #2ab7e6 120deg, 
    rgb(37, 240, 251) 240deg
  );
  transition: all 0.6s ease;
  opacity: 0;
  transform: scale(0);
}

.liquid-morph-element:hover {
  border-radius: 10px;
  transform: rotate(15deg);
}

.liquid-morph-element:hover::before {
  opacity: 0.5;
  transform: scale(2);
}